<p> Your task is: <%= @task.title %> </p>
<p> Here all the details: <%= @task.details %> </p>
<p> Is is completed? <%= @task.completed %> </p>
<p> <%= link_to "Back to your list", tasks_path %> </p>
<!-- Per inserire il link e' sempre megli utilizzare la dicitura link_to  -->
<p> <%= link_to "Edit", edit_path %> </p>
